.blockStyle{
   border-width: 1px;
   border-color: #ddd;
   border-style: solid;
   margin-top: 2%;
   margin-bottom: 1%;
   padding: 5%;
   box-shadow: 0 0.4rem 1.2rem 0.2rem rgba(0,0,0,.05);
}

.hover{
  /* height:84px; */
border: solid 2px white;
transition: border-color .5s linear;
}

.hover:hover{
  background-color: #f7f7f8;
}
.optionWrong{
  border-color: black;
}

[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px; margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* One radio button per line */
label {
  padding-top:34px;
  padding-bottom:34px;
  padding-left:2em;
  display: block;
  cursor: pointer;
  font-size: 1,5em;
}

[type="radio"] + span {
  display: block;
}

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: .35em;
  height:.35em;
  vertical-align: -0.25em;
  border-radius: .5em;
  border: 0.4em solid #fff;
  box-shadow: 0 0 0 0.05em #000;
  margin-right: 0.75em;
  transition: 0.5s ease all;
}

/* the checked style using the :checked pseudo class */
.before [type="radio"]:checked + span:before {
  background: grey;
  /* box-shadow: 0 0 0 0.15em #000; */
}

.hover {
  position: relative;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .blockStyle{
    width:40%;
    margin-left:25%;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .blockStyle{
    width:60%;
    margin-left:15%;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .blockStyle{
    width:80%;
    margin-left:5%;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .blockStyle{
    width:80%;
    margin-left:5%;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .blockStyle{
    width:80%;
    margin-left:5%;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .blockStyle{
    width:80%;
    margin-left:5%;
  }
}
